*{
    margin: 50px;
    
}

#text {
    display: flex;
    justify-content: flex-end;
    margin: -50px;
}

#nomes div{
    display: flex;
    order: 1;
    justify-content: flex-end;
    margin: -50px;
}

#img {
    
    display: flex;
    justify-content: flex-end;
    margin: -50px;
}